= provide(:title, 'About Us')
%body
	%h1 About Us
	%p We believe in fostering more transparency and getting citizenry interested and motivated enough to voice their opinions. Write Congress! But Write them from the heart. Signing onto petitions and form letters don't deliver the impact that well thought out and expressive letters that come from your being do. Think of when you receive a hand-written letter and the joy you get at. Form letters and cards go in the trash!